.navbar {
    padding: 0px;
    height: 59px;
        .navbar-brand {
            width: 100px;
            background: #EDCD1F;
                .navbar-collapse {
                    background: rgba(30, 45, 59, 1);
        }
    }
}

